body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: #f0f0f0;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100svh;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
}

.slide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
  height: 100%;
  overflow: hidden;
}

#reels {
  background-color: #f5a623;
}

#camera {
  background-color: #1da1f2;
}

#messages {
  background-color: #8a3ab9;
}

.buttons {
  width: 100vw;
  position: absolute;
  bottom: 36px;

  display: flex;
  justify-content: space-evenly;
}

#record-button {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid red;
  font-size: 15px;
  font-weight: bold;
}

#post-button {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid red;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

#state {
  position: absolute;
  bottom: 46px;
  font-size: 14px;
  color: red;
}

#video {
  height: 100svh;
}

#myInput {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 20px;
}

#myInput:focus {
  outline: none;
}
#myInput:focus + #options {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content span {
  color: black;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.174);
}

#myDropdown {
  position: absolute;
  width: 240px;
  top: 16px;
  left: 16px;
}

#options {
  display: none;
}
